@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.root {
    background-color: #FB6B6B;
    border: solid 1px #DBDBDB;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
}

.tela-inicial,
.tela-recall {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 38px;
}

h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-family: 'Righteous', cursive;
}

.tela-inicial img {
    width: 136px;
    height: 161px;
}

.tela-inicial-config {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    width: 246px;
}

.tela-inicial input {
    background-color: #FFFFFF;
    height: 27px;
    border-radius: 5px;
    padding: 10px;
    border: solid 1px #D70900;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

input::placeholder {
    color: black;
    opacity: 1;
}

.tela-inicial select {
    background-color: #FFFFFF;
    height: 27px;
    border-radius: 5px;
    padding: 5px;
    border: solid 1px #D70900;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.tela-inicial button {
    color: #D70900;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid 1px #D70900;
    height: 54px;
    font-size: 24px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.tela-recall-titulo {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.tela-recall-titulo img {
    height: 60px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 180px;
    width: 100%;
}

li {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 65px;
    padding: 15px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

h4 {
    font-weight: 700;
}

.flashcard {
    background-color: palegoldenrod;
    position: relative;
    min-height: 130px;
}

.flashcard img {
    width: 30px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}

.flashcard-verso {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.oculta {
    display: none;
}

.botoes {
    height: 100%;
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flashcard-verso button {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    width: 80px;
    height: 42px;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

button.ruim {
    background-color: red;
}

button.ok {
    background-color: orange;

}

button.bom {
    background-color: green;
}

.card.ruim {
    text-decoration: line-through;
    color: red;
}

.card.ok {
    text-decoration: line-through;
    color: orange;

}

.card.bom {
    text-decoration: line-through;
    color: green;
}

.tela-recall-footer {
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
}

.tela-recall-footer>div {
    display: flex;
    margin-bottom: 15px;
}

.tela-recall-footer button {
    width: 167px;
    height: 32px;
    margin-top: 10px;
    background-color: #FB6B6B;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}

.mensagem-final {
    gap: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mensagem-final>div {
    display: flex;
    align-items: center;
}

.mensagem-final img {
    margin-right: 10px;
    width: 30px;
}

ion-icon {
    font-size: 30px;
}

ion-icon[name="close-circle"] {
    color: red;
}

ion-icon[name="help-circle"] {
    color: orange;
}

ion-icon[name="checkmark-circle"] {
    color: green;
}

@media (min-width: 1000px) {
    h1 {
        font-size: 72px;
    }

    .tela-inicial-config {
        width: 450px;
    }

    .tela-recall-titulo img {
        height: 120px;
    }

    ul {
        width: 568px;
    }
}