@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

.root {
    background-color: #FB6B6B;
    border: solid 1px #DBDBDB;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
}

.tela-inicial,
.tela-recall {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 38px;
}

h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-family: 'Righteous', cursive;
}

.tela-inicial img {
    width: 136px;
    height: 161px;
    margin-bottom: 15px;
}

.tela-inicial button {
    color: #D70900;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid 1px #D70900;
    width: 246px;
    height: 54px;
    margin-top: 30px;
    font-size: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.tela-recall-titulo {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.tela-recall-titulo img {
    height: 60px;
}

ul {
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 180px;
    width: 100%;
}

li {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 65px;
    padding: 15px;
}

.pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}

.pergunta ion-icon {
    font-size: 23px;
}

.flashcard {
    background-color: palegoldenrod;
    position: relative;
    min-height: 130px;
}

.flashcard img {
    width: 30px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}

.flashcard-verso {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.oculta {
    display: none;
}

.botoes {
    height: 100%;
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flashcard-verso button {
    cursor: pointer;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    width: 80px;
    height: 42px;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

button.ruim {
background-color: red;
}

button.ok {
    background-color: orange;

}

button.bom {
    background-color: green;
}

.pergunta.ruim {
    text-decoration: line-through;
    color: red;
}

.pergunta.ok {
    text-decoration: line-through;
    color: orange;

}

.pergunta.bom {
    text-decoration: line-through;
    color: green;
}


.tela-recall-footer {
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 70px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}